"*":
  "atom-typescript": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
    ]
  editor:
    fontFamily: "Hasklig"
    invisibles:
      tab: "⇒"
    lineHeight: 1.25
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "b797a3d9-7769-8b78-41c3-26c6ad5c3eab"
  "haskell-ghc-mod": {}
  "ide-haskell": {}
  linter: {}
  "markdown-preview":
    breakOnSingleNewline: true
  minimap: {}
  welcome:
    showOnStartup: false
