"*":
  "atom-typescript": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
    ]
    themes: [
      "one-dark-ui"
      "obsidian-syntax"
    ]
  editor:
    fontFamily: "Hasklig"
    fontSize: 15
    invisibles:
      tab: "⇒"
    lineHeight: 1.25
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "b797a3d9-7769-8b78-41c3-26c6ad5c3eab"
  "haskell-ghc-mod": {}
  "ide-haskell": {}
  linter: {}
  "markdown-preview": {}
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
".fsharp.fsi.source":
  editor:
    tabLength: 4
".fsharp.fsl.source":
  editor:
    tabLength: 4
".fsharp.fsx.source":
  editor:
    tabLength: 4
".fsharp.source":
  editor:
    tabLength: 4
