packages: [
  "activate-power-mode"
  "atom-typescript"
  "autocomplete-haskell"
  "editorconfig"
  "haskell-ghc-mod"
  "ide-haskell"
  "language-batch"
  "language-docker"
  "language-idris"
  "language-ilasm"
  "language-gradle"
  "language-groovy"
  "language-haskell"
  "language-latex"
  "language-nginx"
  "language-pascal"
  "language-powershell"
  "language-restructuredtext"
  "language-rust"
  "language-textile"
  "linter"
  "minimap"
  "nix"
  "package-sync"
]
