packages: [
  "atom-typescript"
  "autocomplete-bibtex"
  "autocomplete-haskell"
  "editorconfig"
  "haskell-ghc-mod"
  "ide-haskell"
  "language-docker"
  "language-ilasm"
  "language-gradle"
  "language-groovy"
  "language-haskell"
  "language-latex"
  "language-nginx"
  "language-powershell"
  "language-rust"
  "linter"
  "minimap"
  "package-sync"
]
