packages: [
  ".bin"
  "atom-typescript"
  "autocomplete-haskell"
  "dev"
  "editorconfig"
  "haskell-ghc-mod"
  "ide-haskell"
  "language-batch"
  "language-cjsx"
  "language-d"
  "language-docker"
  "language-factor"
  "language-gradle"
  "language-groovy"
  "language-haskell"
  "language-idris"
  "language-ilasm"
  "language-latex"
  "language-matlab"
  "language-nginx"
  "language-pascal"
  "language-powershell"
  "language-purescript"
  "language-restructuredtext"
  "language-rust"
  "language-textile"
  "language-vbscript"
  "linter"
  "lucid-tabs"
  "minimap"
  "nix"
  "obsidian-syntax"
  "package-sync"
  "pulsing-cursor"
]
